body
{
    background: white;
    color: purple;
    text-align: center;
    font-family: "curier";
    font-size: 16px;
    margin: 0;
    padding: 2em;
}

#cabecera 
{
    background: white;
    box-shadow: white;
    color: purple;
    width: 50%;
    font-weight: bold;
    padding: 2em;
    text-align: left;
    border: solid #DDD;
    margin: 0 auto;
}

#cabecera #logo
{
    width: 20px;
    vertical-align: middle;    
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
    
}
#container h1

{
    font-size: 20px;
    
}
#post
{
    background: white;
    padding: 2em;
    width: 50%;
    border: solid #DDD;
    margin: auto;
}